# Dependencies
node_modules/

# Build output
dist/
build/
assets/images/

# Environment files
.env

# Ignore practice / extra components (inside src)
src/arraycomp.jsx
src/checkboxlist.jsx
src/checked.jsx
src/conditionrender.jsx
src/formcomp.jsx

# Editor / OS files
.vscode/
.DS_Store
