@import url('https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css');

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.bg {
    background-color: black;
    color: red;
}

.container {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-box {
    background-color: black;
    margin: 20px;
    padding: 20px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: white 2px solid;
    width: 90%;
    height: 200px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 4px;
}

.buttons {
    display: flex;
    gap: 10px;
}

.button-project1,
.bx-refresh {
    font-size: large;
    padding: 10px 20px;
    border-radius: 8px;
    border: 2px white solid;
    cursor: pointer;
    color: black;
    /* background: #020024; */
    background: linear-gradient(136deg, #88FF0C 30%, #39FF14 60%);
    box-shadow: rgba(0, 0, 0, 0.295) 0px 2px 1px;
}

.border {
    position: fixed;
    right: 20px;
    bottom: 30px;
    border-radius: 2000px;
    padding: 12px;
    font-size: 18px;
}

.button-project1:hover {
    background: linear-gradient(60deg, #88FF0C 30%, #39FF14 60%);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 4px;
}

.bxr {
    color: black;
}